.createBlog{
    margin-top: 2rem;
    margin: 2rem 5.5rem;
}
.createBlog_main{
    padding: 2rem 5.5rem;
    background-color:#fff;

}

.createBlog_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2.5rem;
    /* height: 50%;/ */
}

.MuiTextField-root{
    width: 43ch !important;
}
.blog_desc{
    width: 100ch !important;
    margin-bottom: 2rem !important;
}
.imgurl{
    width: 73% !important;
}
.blog_btn{
    margin-top: 2rem !important;
    margin-left: 8px !important;
    margin-bottom: 3rem !important;
    background-color: #01497c !important;
}
