.moreBlog{
    margin-top: 2rem;
}

.miniBlogList{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 15rem;
}

.miniBlogList_Info{
     margin-right: 20px;
}
.miniBlogList_user{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 5px;
}
.miniBlogName{
    font-size: 13px;
    margin-left: 6px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.miniBlogTitle{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.miniBlogImage{
    height: 50px;
    width: 50px;
    border-radius: 10%;

}
