
/* font-family: 'Bree Serif', serif;
font-family: 'Andika New Basic', sans-serif; */

body{
    margin:0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: bisque; */
    background-color: #F2CC8F;
    height: 7rem;
    padding: 1.5rem 5.5rem 0.5rem 5.5rem;
    margin-bottom: 3rem;
}

.navbar_top{
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar_title{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
    flex: 1;
    font-weight: 500;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */
    width: 100%;
}

.navbar-content p{
    text-transform: uppercase;
    margin: 0 !important;
    padding: 1.3rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.profile_pic{
    width: 30px;
    height: 30px;
}

.thisSec{
    font-size: 1.2rem !important;
    /* background-color: rgb(245, 209, 167); */
    background-color: #fdfcdc;
    border-bottom: 4px solid #E07A5F;
}